<div class="container-fluid">
  <div class='row'>
    <div class='col-sm-12 text-center' id="abouttitle">
    <h1><strong> The Problem </strong> </h1>
  </div>
</div>

<div class='row' id="aboutpage">
  <div class='col-sm-2'></div>
    <div class='col-sm-8 text-center'>
<h3> Health care is expensive and often unaffordable for people who need it most.
  A relatively unknown fact is that the same care may cost significantly
  different from one hospital to another—since doctors and hospitals decide
  how much they want to charge for specific procedures—making the choice of
  hospital very important in the decision process. This application should make
  the process of choosing where to seek care much easier. <h3>

<h3> The United States government provides data on the 100 most common inpatient services
  nationally. This website allows those in need to search for the specific
  inpatient they need and to locate the cheapest hospital that provides the
  necessary care, in a region close to them. This website also shows data
  visually as well, which can be seen by clicking the <a href="/visualize">Visualizing Data</a>
  tab.</h3>
</div>
<div class='col-sm-2'></div>
</div>
</div>
